# Ignore .env file in both client and server
client/.env
server/.env

# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/

# Ignore specific files in client and server
client/somefile.js
server/somefile.js
